@page "/product"
@inject IProductRepository _productRepository
@inject IJSRuntime _jsRuntime
@inject IFileUpload _fileUpload

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Product List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="product/create" class="btn btn-primary form-control">Add New Product </a>
    </div>
    <div class="col-12 p-3">
        @if (Products.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ShopFavorites</th>
                        <th>CustomerFavorites</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var objProd in Products)
                    {
                        <tr>
                            <td>
                                @objProd.Name
                            </td>
                            <td>
                                <input type="checkbox" disabled checked="@objProd.ShopFavorites">

                            </td>
                            <td>
                                <input type="checkbox" disabled checked="@objProd.CustomerFavorites">
                            </td>
                            <td>
                                @objProd.Category.Name
                            </td>  
                            <td>
                                <NavLink href="@($"product/edit/{objProd.Id}")" class="btn-primary btn">Edit</NavLink>
                                <NavLink href="@($"product/price/{objProd.Id}")" class="btn-success btn">Price</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(objProd.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //loading gif
                <div class="text-center align-content-center">
                    <img src="/images/loading.gif">
                </div>
            }
            else
            {
                //no records
                <p>No records found.</p>
            }
        }
    </div>
</div>


@code {
    private IEnumerable<ProductDTO> Products { get; set; } = new List<ProductDTO>();
    public bool IsLoading { get; set; }
    private int DeleteProductId { get; set; } = 0;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
        }
    }

    private async Task LoadProducts()
    {
        IsLoading=true;
        StateHasChanged();
        Products = await _productRepository.GetAll();
        IsLoading=false;
        StateHasChanged();
    }

    private void HandleDelete(int id)
    {
        DeleteProductId=id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading=true;
        if(isConfirmed && DeleteProductId!=0)
        {
            //delete
            ProductDTO product = await _productRepository.Get(DeleteProductId);
            if (!product.ImageUrl.Contains("default.png"))
            {
                _fileUpload.DeleteFile(product.ImageUrl);

            }
            await _productRepository.Delete(DeleteProductId);
            await LoadProducts();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading=false;
    }
}

